@import 'partials/variables';
@import 'partials/code';

/* Override theme styles here */
:root {
    --side-bar-bg-color: white;
    --window-border: none;
    --search-select-bg-color: #575c61;
    --active-file-bg-color: #f1f4f5;
    --item-hover-bg-color: #f1f4f5;
    --item-hover-text-color: black;
    --control-text-color: #555;
    --table-border-color: #b4b4b4;
}

// @include-when-export url(https://raw.githubusercontent.com/slashfoo/lmweb/master/style/latinmodern-mono-light.css);

html {
    font-size: 12pt;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    src: url('../SourceSansPro.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RobotoMono.woff2') format('woff2');
}

#write {
    font-family: $family-sans-serif, "Times New Roman", "serif";
    line-height: 1.5em;
    padding: 10%;
    padding-top: 5%;
}
.post-content {
    font-family: 'Source Sans Pro', $family-sans-serif, "Times New Roman", "serif";
    .file-list-item-summary {
        height: 36px;
    }

    .file-list-item {
        padding-top: 18px !important;
        padding-bottom: 18px;
    }

    #sidebar-loading-template.file-list-item {
        padding-top: 0 !important;
    }

    a, a:visited {
        color: rgb(0, 170, 37);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: inherit; 
        font-weight: bold;
        line-height: 1.5em;
        margin-bottom: 0.85em;
        margin-top: 0.85em;
    }

    h1  {
        font-size: 2.4em;
    }

    #write h1  {
        text-align: center;
    }

    h2 {
        font-size: 1.8em;
        border-bottom: 1px solid #eaecef;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5  {
        font-size: 1.1em;
    }

    h6 {
        font-size: 1em;
    }

    p {
        margin: 0.5em;
        margin-left: 0.5em;
        margin-block: 0em;
        padding: 0px;
        // text-align: justify;
        font-family: 'Source Sans Pro';
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.6em;
    }

    .footnotes {
        display: list-item;
        margin-left: 1em;
    }

    .md-fences {
        border: 1px solid;
    }

    .md-fences.md-fences-with-lineno {
        border: none;
    }

    .CodeMirror-linenumber {
        color: #333;
    }

    *.in-text-selection,
    ::selection {
        background-color: #CBDFF8 !important;
        background: #CBDFF8;
    }

    sup.md-footnote {
        background-color: initial;
        color: inherit;
    }

    mark {
        background: #fff387;
    }

    table {
        border: 1px solid #777;
        margin: 1rem 0;
    }
    table tr:nth-child(2n) {
        background: #d4d4d4;
    }
    
    th {
        border-bottom: 0;
        padding-top: 2px;
        background: #8d9297;
        color: #f3f3f3;
    }
    td, th {
        padding: .35rem .7rem;
        border: 1px solid #777;
    }

    // Unordered list
    ul {
        margin-bottom: 0.75em;
        margin-top: 0.75em;
        font-size: 1.1em;
    }

    blockquote {
        font-style: italic;
        padding: 0.25em 24px;
        position: relative;
        color: #383838;
        border-left: 2px solid;
    }

    #write > blockquote {
        padding: 0.25em 30px;
        margin-left: -32px;
        width: calc(100% + 32px);
    }

    #write >  .md-fences-with-lineno {
        margin-left: -33px;
        color: black;
    }

    .md-header {
        font-size: inherit !important;
    }
    // Code
    pre, code {
        background-color: #f4f3f4;
        padding-top: 0.85em;
        padding-bottom: 0.85em;
        margin-top: 1em;
        margin-bottom: 1em;
        line-height: 1.4em;
        border-radius: 5px;
        white-space: pre-wrap;
        word-break: normal;
    }
    // Inline code
    :not(pre) > code {
        color: #e96900;
        font-size: 0.72em;
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1px;
        padding-right: 1px;
        border-radius: 4px;
    }
}
